{% extends 'main/base.html' %}

{% block title %}All Packs{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/font-awesome.min.css') }}">
{% endblock %}

{% block content %}
<div class="table-responsive custom-table-responsive">
  <table class="table custom-table">
    <thead>
        <th scope="col">Pack Name</th>
        <th scope="col">Pack Description</th>
        <th scope="col">Update</th>
    </thead>
    <tbody>
      {% for pack in packs %}
      <tr scope="row">
        <td>{{ pack.pack_name }}</td>
        <td>{{ pack.description }}</td>
      {% if current_user.is_authenticated %}
        <td>
          <a href="{{ url_for('pack.update', id=pack.id) }}" class="btn btn-sm btn-secondary"><span class="fa fa-edit"></span></a>
          <a href="{{ url_for('pack.delete', id=pack.id) }}" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>
        </td>
      {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}